*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font: normal 16px / 22px Roboto, Arial, sans-serif;
    color: #323232;

    background-color: #849d8f;

    transition: background 0.2s;
}

body.first-promo-slide {
    background: url(../img/bg-first-promo.png) #849d8f no-repeat center 0;
}

body.second-promo-slide {
    background: url(../img/bg-second-promo.png) #8996a6 no-repeat center 0;
}

body.third-promo-slide {
    background: url(../img/bg-third-promo.png) #9d8b84 no-repeat center 0;
}

.catalog-cream {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: white;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 1200px;
    padding: 0 27px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    border: none;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;

    background-image: linear-gradient(to top, #e74b36, #f26843);
    box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-image: linear-gradient(to top, #ec6f5e, #f58669);
    box-shadow: 0 1px 2px rgba(172, 16, 0, 1);
}

.btn:active {
    background-image: linear-gradient(to top, #e1613e, #c73f2c);
    box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    z-index: 10;

    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
} 

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;

    display: none;

    transform: translate(-50%, -50%);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    
    display: none;
    width: 100%;
    height: 100%;

    background-color: rgba(50, 50, 50, 0.3);
}

.main-header {
    position: relative;
}

.main-navigation {
    display: flex;
    align-items: center;
}

.main-navigation-logo {
    margin-top: 9px;
    margin-right: 10px;
}

.navbar-website {
    display: flex;
    flex-wrap: wrap;
    
    margin: 0;
    margin-right: auto;
    padding: 0;
    width: 690px;

    list-style: none;
}

.navbar-website-item {
    border-radius: 15px;
}

.navbar-website-item:hover {
    background-color: #f7f6f3;
}

.navbar-website-item:active {
    box-shadow: inset 0 2px 1px #696969;
}

.navbar-website-item-current,
.navbar-website-item-current:hover,
.navbar-website-item-current:active,
.navbar-website-item-current:focus {
    background-color: #d07058;
}

.navbar-website-link {
    display: block;
    
    padding: 7px 14px;

    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: white;
    text-decoration-color:rgba(255, 255, 255, 0.3);
}

.navbar-website-item:hover .navbar-website-link {
    color: #333;
    text-decoration: none;
}

.catalog-dropdown .dropdown-content {
    top: 100%;
    left: -7px;

    width: 144px;
}

.catalog-menu {
    margin: 0;
    margin-top: 5px;
    padding: 0;

    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    list-style: none;
}

.catalog-menu-item {
    padding: 0 6px;

    background-color: #f8f7f4;
}

.catalog-menu-item:hover {
    background-color: #fbded7;
}

.catalog-menu-item:active {
    background-color: #f6b5a5;
}

.catalog-menu-item:first-child {
    padding-top: 5px;

    border-radius: 5px 5px 0 0;
}

.catalog-menu-item:last-child {
    padding-bottom: 5px;

    border-radius: 0 0 5px 5px;
}

.catalog-menu-item a {
    display: block;
    padding: 6px 15px;

    font-size: 14px;
    line-height: 16px;
    color: #323232;
    text-decoration: none;
}

.catalog-menu-item.top-item a {
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
    
    font-weight: bold;
}

.navbar-user {
    display: flex;
    flex-wrap: wrap;
}

.navbar-user-item {
    margin-left: 10px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.navbar-user-item:hover {
    background-color: #f8f7f4;
}

.navbar-user-btn {
    border: none;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: white;

    background-color: transparent;
    cursor: pointer;
}

.navbar-user-item:hover .navbar-user-btn {
    color: #323232;
}

.navbar-user-item:hover .navbar-search-icon path,
.navbar-user-item:hover .navbar-login-icon path {
    fill: black;
}

.search-dropdown .dropdown-content {
    top: 100%;
    right: 0;

    width: 340px;
}

.navbar-user-item .search-btn {
    padding: 8px 0;
    width: 32px;
    height: 32px;

    font-size: 0;
}

.navbar-search-icon {
    position: absolute;
    top: 7px;
    left: 8px;
}

.navbar-user .search-form {
    margin-top: 5px;
    padding: 20px 15px;
    
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;    
}

.navbar-user .search-form input,
.navbar-user .login-form input {
    padding: 10px 14px;
    width: 100%;
    border: none;
    
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #323232;

    box-shadow: 0 0 0 1px #d3d3d2;
    border-radius: 4px;
}

.navbar-user .search-form input:hover,
.navbar-user .login-form input:hover {
    box-shadow: 0 0 0 2px #999;
}
.navbar-user .search-form input:focus,
.navbar-user .login-form input:focus {
    box-shadow: 0 0 0 2px #8fbdec;
    outline: none;
}

.navbar-user .search-form input::placeholder,
.navbar-user .login-form input::placeholder {
    font-weight: normal;
    color: #a7a7a7;
}

.login-dropdown .dropdown-content {
    top: 100%;
    right: 0;

    width: 277px;
}

.navbar-user-btn.login-btn {
    position: relative;
    
    padding: 8px 16px 8px 44px;   
}

.navbar-login-icon {
    position: absolute;
    top: 6px;
    left: 16px;
}

.navbar-user .login-form {
    margin-top: 5px;
    padding: 20px 17px 22px 19px;

    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.navbar-user .login-item {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.navbar-user .login-form .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.navbar-user .login-options {
    margin: 0;

    font-size: 13px;
    line-height: 24px;
    color: #323232;
}

.navbar-user .login-option-link {
    display: block;

    color: inherit;
}

.navbar-user .login-option-link:hover,
.navbar-user .login-option-link:focus {
    color: #e84d37;
}

.navbar-user .login-option-link:active {
    color: #ee7c6c;
}

.navbar-user .login-form .btn {
    padding: 10px 25px;

    border-radius: 18px;
}

.navbar-user-item-cart .cart-btn {
    padding: 8px 16px 8px 44px;   

    background-image: url(../img/basket.svg);
    background-repeat: no-repeat;
    background-position: 16px 6px;
}

.navbar-user-item-cart:hover .cart-btn {
    background-image: url(../img/basket-red.svg);
}

.cart-dropdown .dropdown-content {
    top: 100%;
    right: 0;

    width: 540px;
}

.navbar-user-item-cart .cart-content {
    margin-top: 5px;
    padding: 20px 15px; 

    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.navbar-user-item-cart .cart-list {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
    font-size: 13px;
    line-height: 16px;    
    color: #323232;

    list-style: none;
}

.navbar-user-item-cart .cart-item {
    display: flex;
    align-items: flex-start;
    
    margin: 0;
    margin-bottom: 20px;
    padding-top: 10px;
}

.navbar-user-item-cart .cart-item .remove-item {
    margin-top: 3px;
    width: 11;
    height: 11px;
    border: none;
    
    font-size: 0;

    background: url(../img/cross-small.svg) transparent no-repeat 0 0;
}

.navbar-user-item-cart .cart-item-preview {
    margin: 0 14px;
    margin-top: -10px;
}

.navbar-user-item-cart .cart-item-name {
    margin: 0;
    margin-right: 33px;
    width: 216px;
}

.navbar-user-item-cart .cart-item-amout {
    margin-right: auto;
}

.navbar-user-item-cart .cart-item-base-cost {
    color: #9f9f9f;
}

.navbar-user-item-cart .cart-checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar-user-item-cart .checkout-sum {
    margin-bottom: 15px;
    
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}

.navbar-user-item-cart .cart-content .btn {
    padding: 10px 15px; 

    border-radius: 18px;
}

.contact-info-short {
    position: absolute;
    top: 100%;
    right: 0;
    
    margin: 0;
    
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: white;
    text-align: right;
}

.contact-info-short b {
    display: block;
    margin-top: 5px;
    
    font-size: 22px;
    line-height: 24px;
}

.promo {
    position: relative;
    
    margin-bottom: 40px;
    margin-top: 320px;
}

.promo-slide {
    display: none;
}

.promo-slide-current {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-slide-message {
    margin: 0;
    margin-bottom: 35px;
    width: 670px;

    font-weight: bold;
    font-size: 60px;
    line-height: 60.35px;
    color: white;
    text-align: center;
}

.promo-slide-btn {
    padding: 10px 40px;
    
    font-size: 32px;
    line-height: 44px;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 27px;
}

.promo-slide-btn:hover,
.promo-slide-btn:focus {
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.promo-slide-btn:active {
    box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

.slider-control-list {
    position: absolute;
    bottom: 20px;
    left: 0;
    
    display: flex;

    margin: 0;
    padding: 0;
    
    list-style: none;
}

.slider-control-item {
    margin-right: 10px;
}

.slider-control-item button {
    width: 21px;
    height: 21px;
    border: 2px solid white;

    font-size: 0;

    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.slider-control-item button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.slider-control-item button:active {
    background-color: white;
}

.slider-control-item-current button,
.slider-control-item-current button:hover,
.slider-control-item-current button:active {
    background-color: white;
}

.banners {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 35px;
}

.banner-item {
    display: flex;
    flex-direction: column;

    padding: 17px 20px 20px;
    width: 560px;

    border-radius: 15px;
}

.banner-item-raspberry {
    background: url(../img/bg-raspberry.jpg) #930817 repeat 0 0;
}

.banner-item-chocolate {
    background: url(../img/bg-chocolate.jpg) #583420 repeat 0 0;
}

.banner-heading {
    margin: 0;
    margin-bottom: 22px;

    font-size: 32px;
    line-height: 44px;
    color: white;
}

.banner-message {
    margin: 0;
    margin-bottom: 37px;
    
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

.banner-item .btn {
    align-self: flex-end;

    padding: 11px 22px;

    border-radius: 21px;
}

.hit-container {
    padding-left: 14px;
    padding-right: 14px;
}

.hits {
    margin-bottom: 6px;
}

.hit-ice-cream-list {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
}

.ice-cream-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: -36px;
    padding: 6px 13px 20px;
    width: 293px;

    border-radius: 5px;
}

.ice-cream-item:hover {
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.ice-cream-info {
    position: relative;

    margin: 0;
}

.hit-ice-cream-list .ice-cream-info::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 61px;
    height: 61px;

    background-image: url(../img/hit.svg);
}

.ice-cream-image {
    margin-bottom: 8px;

    border-radius: 50%;
}

.ice-cream-price {
    position: absolute;
    top: 215px;
    left: 0;

    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    color: white;
}

.ice-cream-price small {
    font-size: 30px;
}

.ice-cream-description {
    margin-bottom: 18px;

    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: underline rgba(255, 255, 255, 0.3);
}

.ice-cream-item .btn {
    padding: 10px 17px;

    visibility: hidden;
    
    border-radius: 17px;
}

.ice-cream-item:hover .btn {
    visibility: visible;
}

.shop-description {
    margin-bottom: 40px;
    padding: 25px 21px;

    background: url(../img/bg-waffel.jpg) #ece0c5 repeat 0 0;
    border-radius: 15px;
}

.shop-description-heading {
    margin: 0;

    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.shop-feature-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.shop-feature-item {
    padding-top: 22px;
    width: 540px;
    padding-left: 57px;

    background-repeat: no-repeat;
    background-position: 0 10px;
}

.shop-feature-item.ice-cream-icon {
    background-image: url(../img/ice-cream.svg);
}

.shop-feature-item.cow-icon {
    background-image: url(../img/cow.svg);
}

.shop-feature-item.eco-icon {
    background-image: url(../img/eco.svg);
}

.shop-feature-item.thermometer-icon {
    background-image: url(../img/thermometer.svg);
}

.blog-n-mailing-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;
}

.blog-news {
    padding: 25px 20px;
    width: 560px;

    background: url(../img/bg-strawberry.jpg) white repeat 0 0;
    border-radius: 15px;
}

.blog-content-wrapper {
    width: 283px;
}

.blog-news-heading {
    margin: 0;
    margin-bottom: 12px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.blog-news-message {
    margin: 0;
    
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.blog-news-message a {
    color: inherit;
}

.blog-news-message a:hover,
.blog-news-message a:focus {
    color: #e84d37;    
}

.blog-news-message a:active {
    color: #ee7c6c;
}

.mailing {
    padding: 5px 6px;
    width: 560px;

    background: url(../img/bg-mailing.jpg) white repeat 0 0;
    border-radius: 15px;
}

.mailing-content-wrapper {
    padding: 30px 20px 35px;

    background-color: #f8f7f4;
    border-radius: 15px;
}

.mailing-message {
    margin: 0;
    margin-bottom: 34px;

    color: #5a5a5a;
}

.mailing-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mailing-item {
    margin: 0;
}

.mailing-item input {
    padding: 10px 17px;
    width: 368px;
    border: none;
    
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #323232;

    box-shadow: 0 0 0 1px #d3d3d2;
    border-radius: 5px;
}

.mailing-item input:hover {
    box-shadow: 0 0 0 2px #999;
}
.mailing-item input:focus {
    box-shadow: 0 0 0 2px #8fbdec;
    outline: none;
}

.mailing-item input::placeholder {
    font-weight: normal;
    color: #a7a7a7;
}

.mailing-form .btn {
    padding: 10px 20px;

    border-radius: 21px;
}

.contact-info {
    position: relative;
    
    margin: 0 auto;
    margin-bottom: 18px;
    width: 1200px;

    font-size: 14px;
    line-height: 20px;
}

.address-map-pin {
    position: absolute;
    top: 200px;
    left: 230px;
}

.contact-panel {
    position: absolute;
    top: 63px;
    right: 27px;

    padding: 30px 26px;
    width: 303px;

    background-color: #fdfefe;
    border-radius: 15px;
}

.contact-item {
    margin: 0;
    margin-bottom: 25px;
}

.contact-item b {
    font-size: 18px;
    line-height: 24px;
}

.contact-panel .btn {
    padding: 10px 27px;

    border-radius: 21px;
}

.main-footer {
    display: flex;
    align-items: center;

    padding-bottom: 15px;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    margin-right: 133px;
    padding: 0;
    width: 267px;

    list-style: none;
}

.footer-social-item {
    margin-right: 15px;
}

.footer-social-item a {
    display: block;
    width: 32px;
    height: 32px;

    font-size: 0;

    border-radius: 50%;
    box-shadow: 
        0 0 0 3px white,
        inset 0 0 0 1px white;
}

.footer-social-item a:hover path {
    fill: white;
}

.footer-social-item a:active path {
    fill: #e9e9e9;
}

.useful-links {
    display: flex;
    flex-wrap: wrap;
    
    margin: 0;
    margin-right: auto;
    padding: 0;
    width: 330px;

    list-style: none;
}

.useful-link-item {
    position: relative;
    
    padding-left: 22px;
    min-width: 144px;
}

.useful-link-item a {
    font-size: 13px;
    line-height: 18px;
    color: white;
}

.useful-link-item a:hover,
.useful-link-item a:focus {
    color: #e84d37;
}

.useful-link-item a:active {
    color: #ee7c6c;
}

.useful-link-item a:hover path,
.useful-link-item a:focus path {
    fill: #e84d37;
}

.useful-link-item a:active path {
    fill: #ee7c6c;
}

.useful-link-item .heart-icon {
    position: absolute;
    top: 5px;
    left: 0;
}

.copyright-info {
    width: 190px;
}

.copyright-message {
    display: block;

    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: white;
}

.copyright-message a {
    color: white;
}

.copyright-message a:hover,
.copyright-message a:focus {
    color: #e84d37;
}

.copyright-message a:active {
    color: #ee7c6c;
}

.feedback-modal {
    padding: 18px 25px 20px;
    width: 477px;

    background-color: #f8f7f4;
    border-radius: 15px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
}

.feedback-modal-heading {
    margin: 0;
    margin-bottom: 24px;

    font-size: 24px;
    line-height: 28px;
}

.feedback-item {
    margin: 0;
    margin-bottom: 20px;
}

.feedback-item input {
    width: 267px;
}

.feedback-item textarea {
    width: 100%;
    height: 155px;
}

.feedback-item input,
.feedback-item textarea {
    padding: 10px 15px;
    border: none;

    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #323232;

    box-shadow: 0 0 0 1px #d3d3d2;
    border-radius: 5px;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
    box-shadow: 0 0 0 2px #999;
}

.feedback-item input:focus,
.feedback-item textarea:focus {
    box-shadow: 0 0 0 2px #8fbdec;
    outline: none;
}

.feedback-item input::placeholder,
.feedback-item textarea::placeholder {
    font-weight: normal;
    color: #a7a7a7;
}

.feedback-form .btn {
    align-self: flex-end;
    
    padding: 10px 20px;

    border-radius: 21px;
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 18px;
    height: 17px;
    border: none;

    font-size: 0;

    background: url(../img/cross-big.svg) transparent no-repeat 0 0;
}

.catalog-cream .main-header {
    margin-bottom: 27px;
}

.breadcrumbs {
    display: flex;

    margin: 0;
    margin-top: 20px;
    padding: 0;

    list-style: none;
}

.breadcrumb-item {
    position: relative;
    
    margin-right: 7px;
    padding-right: 15px;
}

.breadcrumb-item:not(:last-child)::after {
    content: "»";

    position: absolute;
    right: 0;
}

.breadcrumb-item a {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: white;
}

.breadcrumb-item a:hover,
.breadcrumb-item a:focus {
    color: #e84d37;    
}

.breadcrumb-item a:active {
    color: #ee7c6c;
}

.catalog-cream .page-heading {
    margin: 0px;
    margin-bottom: 30px;
    
    font-size: 25px;
    line-height: 41px;
}

.catalog-filters {
    margin-bottom: 34px;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
    width: 862px;
}

.filter-form select {
    border: none;
    
    font: inherit;
    color: white;
    
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.filter-form fieldset {
    border: none;
}

.filter-group-label {
    position: absolute;
    bottom: calc(100% + 7px);
    
    font-size: 14px;
    line-height: 16px;
}

.filter-item {
    position: relative;

    margin: 0;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 9px 14px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 17px;
}

.filter-item label {
    cursor: pointer;
}

.filter-item-sort {
    position: relative;
}

.filter-item-sort select {
    min-width: 165px;
}

.filter-item-sort .select-wrapper:hover select {
    color: #323232;
}

.filter-item-sort .select-arrow-icon {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: -1;
}

.filter-item-sort .select-wrapper:hover path {
    fill: #323232;
}

.price-filter-item {
    padding-bottom: 4px;
    width: 220px;
}

.price-filter-item .dual-range {
    width: 188px;

    background: linear-gradient(to right, white, white) no-repeat center;
    background-size: 100% 4px;
    outline: none;

    pointer-events: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.price-filter-item .dual-range::-webkit-slider-thumb {
    width: 20px;
    height: 20px;

    background-color: white;
    border-radius: 50%;
    cursor: pointer;

    pointer-events: all;
    -webkit-appearance: none;
}

.price-filter-item .dual-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: none;
    
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    
    pointer-events: all;
    -moz-appearance: none;
}

.price-filter-item .dual-range-to {
    position: absolute;
    left: 15px;
    
    background: none;
}

.filter-item-list {
    display: flex;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.filter-item-radio,
.filter-item-checkbox {
    margin-right: 16px;
}

.filter-item-radio label,
.filter-item-checkbox label {
    position: relative;
    
    margin-left: 34px;

    opacity: 0.8;
}

.filter-item-radio label::before,
.filter-item-checkbox label::before {
    content: "";

    position: absolute;
    top: -2px;
    left: -34px;

    width: 25px;
    height: 25px;

    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
}

.filter-item-radio label:hover,
.filter-item-checkbox label:hover,
.filter-item-radio label:hover::before,
.filter-item-checkbox label:hover::before {
    opacity: 1;
}

.filter-item-radio input[type=radio]:disabled + label,
.filter-item-checkbox input[type=checkbox]:disabled + label,
.filter-item-radio input[type=radio]:disabled + label::before,
.filter-item-checkbox input[type=checkbox]:disabled + label::before {
    opacity: 0.4;
    cursor: default;
}

.filter-item-radio input[type=radio]:checked + label,
.filter-item-checkbox input[type=checkbox]:checked + label {
    opacity: 1;
}

.filter-item-radio label::before {
    background-image: url(../img/radio-off.svg);
}

.filter-item-radio input[type=radio]:checked + label::before {
    background-image: url(../img/radio-on.svg);
    opacity: 1;
}

.filter-item-checkbox label::before {
    background-image: url(../img/checkbox-off.svg);
}

.filter-item-checkbox input[type=checkbox]:checked + label::before {
    background-image: url(../img/checkbox-on.svg);
    opacity: 1;
}

.filter-item-radio label:hover,
.filter-item-radio label:hover::before {
    opacity: 1;
}

.filter-item-radio input[type=radio]:disabled + label,
.filter-item-radio input[type=radio]:disabled + label::before {
    opacity: 0.4;
    cursor: default;
}

.filter-item-radio input[type=radio]:checked + label {
    opacity: 1;
}

.filter-item-radio input[type=radio]:checked + label::before {
    background-image: url(../img/radio-on.svg);
    opacity: 1;
}

.filter-submit-btn {
    margin-top: 25px;
    padding: 6px 28px;
    border: 2px solid white;
    
    font: inherit;
    color: white;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 17px;
    cursor: pointer;
}

.filter-submit-btn:hover,
.filter-submit-btn:focus {
    color: #353535;

    background-color: #fbfcfb;
}

.filter-submit-btn:active {
    color: #353535;

    background-color: #eaeaea;
}

.catalog-container {
    padding-left: 14px;
    padding-right: 14px;
}

.catalog {
    display: flex;
    flex-direction: column;

    margin-bottom: 18px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.ice-cream-list {
    display: flex;
    flex-wrap: wrap;
    
    margin: 0;
    margin-bottom: 56px;
    padding: 0;
    
    list-style: none;
}

.pagination-list {
    align-self: flex-end;

    display: flex;
    
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    
    list-style: none;
}

.pagination-item {
    margin-right: 5px;    
}

.pagination-previous {
    margin-right: 12px;
}

.pagination-next {
    margin-left: 7px;
}

.pagination-item a {
    display: block;
    padding: 5px 10px;
    
    color: white;
    text-decoration: none; 
    border-radius: 50%; 
}

.pagination-item-disabled a {
    cursor: default;
}

.pagination-item.pagination-previous a,
.pagination-item.pagination-next a {
    padding-top: 6px;
    padding-bottom: 0;

    font-size: 0;
}

.pagination-item:not(.pagination-item-disabled) a:hover,
.pagination-item:not(.pagination-item-disabled) a:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item:not(.pagination-item-disabled) a:active {
    color: #323232;

    background-color: white;
}

.pagination-item-disabled path {
    fill: #c1c6ce;
}

.pagination-item:not(.pagination-item-disabled) a:active path {
    fill: #323232;
}

.pagination-item-current a {
    color: #323232;

    background-color: white;
}

.pagination-previous .icon-left {
    transform: scale(-1);
}